* {
  margin: o;
  padding: 0;
  font-family: "Red Hat Display", sans-serif;
  text-decoration: none;
}

body {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: hsl(225, 100%, 94%);
}

.wrapper {
  max-width: 300px;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
}

.wrapper img {
  width: 100%;
  object-fit: cover;
  height: 180px;
}

.wrapper .card-body {
  font-size: 12px;
  color: hsl(224, 23%, 55%);
}

.card-body .content {
  padding: 0 20px;
  margin: 25px 0;
}

.content .title {
  font-size: 16px;
  color: hsl(223, 47%, 23%);
  font-weight: 900;
}

.card-body .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(225, 100%, 98%);
  padding: 10px 15px;
  margin: 25px;
  border-radius: 5px;
}

.info .price {
  display: flex;
  align-items: center;
}

.info img {
  width: 35px;
  height: 35px;
  margin-right: 10px;
}

.info .plan {
  color: hsl(223, 47%, 23%);
  font-weight: 900;
}

.info a.change {
  color: hsl(245, 75%, 52%);
  font-weight: 700;
}

.info a.change:hover {
  color: hsl(245, 81%, 65%);
}

.card-body .payment-btn {
  padding: 9px 60px;
  margin: 0 25px;
  border: none;
  background-color: hsl(245, 75%, 52%);
  color: white;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.card-body .payment-btn:hover {
  background-color:  hsl(245, 81%, 65%);
}

.card-body .cancel {
  display: block;
  margin: 20px 0;
  color: hsl(224, 23%, 55%);
  font-weight: 900;
}

.card-body .cancel:hover {
  color: hsl(223, 47%, 23%);
}
